{% extends "base.jinja" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename='assets.css') }}">
{% endblock %}

{% macro panel_content(rows=[]) %}
  {# This could be done with tables, but I don't want to play with them. #}
  <div class="panel-content">
    <div class="panel-item-col panel-button-col">
      <p></p>
      <form action="/assets/{{ assetid }}/delete" method="POST">
        {% for item in rows %}
          <div class="panel-button-wrapper">
            <button name="delete" value="{{ item['date'] }}">&#x1f5d1;</button>
          </div>
        {% endfor %}
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      </form>
    </div>
    <div class="panel-item-col">
      <p>Date</p>
      {% for item in rows %}
        <p>{{ item["date"] }}</p>
      {% endfor %}
    </div>
    <div class="panel-item-col">
      <p>Value</p>
      {% for item in rows %}
        <p>{{ item["value"] or "0.00" }}</p>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% block content%}
  <div class="content">
    <div class="panel">
      <a href="{{ url_for('assets') }}">Go back</a>
      <div class="container panel-content creation-panel">
        <label class="panel-checkbox selection">
          <p class="active">Cancel</p>
          <p class="inactive">Add new history item</p>
          <input type="checkbox">
        </label>
        <form action="/assets/{{ assetid }}/add" method="POST">
          <h1 class="container-header">Add new history item</h1>
          <label>*<span>required</span></label>
          <input type="date"   name="date"        placeholder="Date">
          <label>*<span>required</span></label>
          <input type="number" name="value"       placeholder="Initial value" required="true" step="0.01">
          <input type="submit" class="selection" value="Submit">
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>

        {% for message in get_flashed_messages() %}
          <p class="inform">{{ message }}</p>
        {% endfor %}
      </div>

      <hr class="content-divider">
      {{ panel_content(data) }}
    </div>
  </div>
{% endblock %}
