<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title if session.user else "Login" }} - {{appname}}</title>

  <!-- METADATA BLOCK -->
  <meta name="referrer" content="no-referrer">
  <meta name="theme-color" content="#FFF">
  <meta name="color-scheme" content="light dark">
  <meta name="viewport" content="initial-scale=1, width=device-width">

  <!-- LINKS -->
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="{{ url_for('static', filename='colors.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <!-- JAVASCRIPT -->
  <script>
    document.addEventListener("DOMContentLoaded", (_) => console.log("Script: DOMContentLoaded!"));
    window.onload = (_) => console.log("Another onload");
  </script>
</head>

<body>
  {% if session.user %}
  {% include "nav.html" with context %}
  {% include "content.html" with context %}
  {% else %}
  {% include "login.html" without context %}
  {% endif %}
</body>

</html>