{% extends "base.jinja" %}

{% block title %}Login{% endblock %}
{% block content%}
<div class="login">
  <h1>Login</h1>
  <form method="POST" action="/login">
    <input type="text" name="username" required="true" placeholder="Username" autofocus>
    <input type="password" name="password" required="true" placeholder="Password" minlength="3">
    <hr>
    <input type="submit" value="Login">
  </form>
</div>
{% endblock %}
