<div class="sidebar">
  <ul class="navbar">
    {% for item in navpaths %}
      <li class="navbar-item{% if rootpath == item.path %} active{% endif %}">
        <a href="{{ item.path }}">{{ item.name }}</a>
      </li>
    {% endfor %}
  </ul>
  <hr class="content-divider">
  <div class="user">
    <p class="username">{{ session.user|safe }}</p> | <a class="logout" href="/logout">Logout</a>
  </div>
</div>
