.panel-checkbox {
  display: block;
  width: 100%;

  border-radius: var(--basic-border-radius);
  background: linear-gradient(to bottom right, transparent, transparent);
}

.panel-checkbox:hover {
  background: var(--action-color-main);
}

.panel-checkbox:hover>p {
  border-color: transparent;
}

.panel-checkbox>p {
  display: none;

  width: 100%;
  margin: 0;
  padding: 1em 0;

  text-align: center;

  border-radius: inherit;
  border: var(--basic-border);
  border-width: 2px;
  background: var(--background);
  background-clip: padding-box;

  transition: border-color var(--transition-duration);
}

.panel-checkbox+form {
  display: none;
}

.panel-checkbox>.inactive {
  display: block;
}

.panel-checkbox:has(:checked)+form {
  display: block;
}

.panel-checkbox:has(:checked)>.active {
  display: block;
}

.panel-checkbox:has(:checked)>.inactive {
  display: none;
}

.creation-panel {
  display: block;

  padding-right: max(1em, 15%);
  padding-left: max(1em, 15%);
}

.creation-panel>form {
  margin-top: 2em;
  padding: 1em;

  border-radius: var(--basic-border-radius);
  border: var(--basic-border);
  background: var(--background-light);
}

.creation-panel>.inform {
  margin: 0.75em 0 0;
  padding: 0;
}

.creation-panel>form>input {
  margin-top: 0.75em;
  padding: 0.75em 0.5em;
  width: 100%;
  height: 2.75em;

  text-align: center;
  font-size: 16px;

  border: none;
  border-radius: var(--basic-border-radius);
}

.creation-panel>form>label {
  display: block;

  margin-top: 0.75em;
  padding-right: 1.5em;

  text-align: end;
  color: var(--red);
  font-size: 0.75em;
}

.creation-panel>form>label>span {
  color: var(--text-toned);
}

.creation-panel>form>label+input {
  margin-top: 0;
}