body {
  --text-bright: #FFF;
  --text: #EBECD0;
  --text-toned: #B5B6BB;

  --dark-blue: #0E1015;
  --gray: #13151B;
  --gray-border: #202328;

  --red: #FE112D;
  --dark-pink: #CE0F50;
  --action-color-main: linear-gradient(to bottom right, var(--red), var(--dark-pink));
}