body {
  display: flex;

  margin: 0;
  height: 100vh;

  background: var(--background);
}

.sidebar {
  display: flex;
  flex-direction: column;

  width: 18em;
  height: 100%;

  border-right: var(--basic-border);
  background-color: var(--background-light);
}

.navbar {
  margin: 0;
  margin-bottom: auto;
  padding: 1em;

  list-style: none;
}

.navbar-item {
  display: flex;

  margin: 0.5em 0;

  border: var(--basic-border);
  border-color: transparent;
  border-radius: var(--basic-border-radius);
  transition-delay: var(--transition-delay);
  transition-duration: calc(var(--transition-duration) - var(--transition-delay));
}

.navbar-item:hover {
  border: var(--basic-border);
  background-color: var(--background);
}

.navbar-item.active {
  background-image: var(--action-color-main);
}

.navbar-item>a:hover,
.navbar-item.active>a {
  color: var(--text);
}

.navbar-item>a {
  position: relative;

  margin: auto 0;
  padding: 0.5em 1.0em;
  width: 100%;

  color: var(--text-toned);

  transition-delay: inherit;
  transition-duration: inherit;
}

.user {
  position: relative;
  display: flex;
  justify-content: center;

  margin-bottom: 1em;
}

.user>.username,
.user>.logout {
  flex: 1;

  margin: 0;
  padding: 0 0.5em;
}

.username {
  text-align: right;
}

.logout {
  text-align: left;
}

/* LOGIN */
.login {
  margin: auto auto;
  width: 18em;

  background: var(--background-light);
}

.container-form>input {
  margin: 0.5em 0;
  padding: 0.75em 0.5em;
  width: 100%;
  height: 2.75em;

  text-align: center;
  font-size: 16px;

  border: none;
  border-radius: var(--basic-border-radius);
  background: var(--background);
  outline: var(--basic-border);
  outline-color: transparent;

  transition: outline var(--transition-duration);
}

.container-form>input:active,
.container-form>input:focus,
.container-form>input::selection {
  outline: var(--basic-border);
}

.container-form>input:active,
.container-form>input:focus,
.container-form>input::selection {
  outline: var(--basic-border);
}

.container-form>.inform {
  margin: 0.75em 0;
  padding: 0;
}

.capitalise {
  text-transform: capitalize;
}

/* DASHBOARD */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 1.5em 2.5em;

  overflow-y: scroll;
}

.panel {
  flex-shrink: 0;

  width: 100%;
  height: fit-content;
  margin: 0.5em 0;
  padding: 1em;

  border: var(--basic-border);
  border-radius: var(--basic-border-radius);
  background-color: var(--background-light);
}

.panel.panel-graph {
  width: 100%;
  height: 30em;
}

.panel-type {
  margin: 0;
  padding: 0.5em 0.25em;

  color: var(--text);
  font-weight: 800;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.panel-content {
  display: flex;

  padding: 0.25em 0em;
  width: 100%;
}

.panel-content>.panel-item-col {
  max-width: 20em;
  width: 100%;
  padding: 0.25em 0em;
}

.panel-content>.panel-item-col:last-child {
  max-width: none;
  width: 100%;
}

.panel-item-col>p {
  box-sizing: content-box;
  position: relative;

  width: 100%;
  height: 1.25em;
  margin: 0;
  padding: 0.5em;

  text-wrap-mode: nowrap;
  text-overflow: ellipsis;

  border-bottom: var(--basic-border);
  border-left: var(--basic-border);
  border-color: var(--background);

  overflow: hidden;
}

.panel-item-col>p:first-child {
  font-weight: 800;
}

.panel-item-col:last-child>p {
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, var(--background) calc(100% - 5em), transparent);
}

.panel-item-col:last-child>p::after {
  position: absolute;

  right: 0;

  width: 5em;
  height: 100%;

  content: "";
  background-image: linear-gradient(to right, transparent, var(--background-light));
}

.panel-button-col {
  width: fit-content !important;
}

.panel-button-col>p {
  width: auto;
}

.panel-button-wrapper {
  display: flex;
}

.panel-button-wrapper>button {
  box-sizing: content-box;

  width: calc(2.25em - 3px);
  height: calc(2.25em - 3px);
  padding: 0;

  font-size: 16px;

  border: var(--basic-border);
  border-width: 2.5px;
}

.panel-button-wrapper>button[name="delete"] {
  color: var(--red);
}

.panel-button-wrapper>button[name="modify"] {
  color: var(--text-toned);
}